@model StoryTeller.Data.Story

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Story</h4>
    <hr />
    <div>
            @Html.DisplayNameFor(model => model.Theme.Name)

            @Html.DisplayFor(model => model.Theme.Name)

            @foreach (var item in Model.Paragraphs)
            {
                <p>@item.Text <br />
            by : @item.Author</p>
            }
    </div>
    <div>
        @{
            if (Model.Paragraphs.Count == 9)
            {
                <p>is the final post, please write an ending!</p>
            }

            if (Model.Paragraphs.Count < 10)
            {
                { Html.RenderPartial("~/Views/Paragraphs/Create.cshtml", new Paragraph() { StoryId = Model.Id });}
            }
        }
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
