@model StoryTeller.Data.Story

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Story</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Theme.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Theme.Name)
        </dd>
        <dd>
            @foreach (var item in Model.Paragraphs)
            {
                <p>@item.Text <br />
            by : @item.Author</p>
            }
        </dd>

        @{
            if (Model.Paragraphs.Count == 9)
            {
                <dd>is the final post, please write an ending!</dd>
            }

            if (Model.Paragraphs.Count < 10)
            {
                { Html.RenderPartial("~/Views/Paragraphs/Create.cshtml", new Paragraph() { StoryId = Model.Id });}
            }
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
