@model IEnumerable<StoryTeller.Data.Story>
@{
    ViewBag.Title = "Index";
}
<div class="containerStories">
    <div class="wrapperStories">
        <h2>Stories:</h2>
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <div>
            @Html.DisplayNameFor(model => model.Theme.Name)
            @Html.DisplayNameFor(model => model.Title)
        </div>
        @foreach (var item in Model)
        {

            <div class="boxStories a">
                Theme: <strong>@Html.DisplayFor(modelItem => item.Theme.Name)</strong><br />
                Title: <i>@Html.DisplayFor(modelItem => item.Title)</i>
                @* Code to let the user know if the story is finished *@
                @if (item.Paragraphs.Count == 10)
                {
                    <p>Story progress: Finished</p>
                }
                else
                {
                    <p>Story progress: Unfinished</p>
                }
                <div>
                    @if (item.Paragraphs.Count == 10)
                    {
                        @Html.ActionLink("Read", "Details", new { id = item.Id })
                    }
                    else
                    {
                        @Html.ActionLink("Contribute", "Details", new { id = item.Id })
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("Add to favorites", "SetFav", "Favorites", new { id = item.Id, title = item.Title }, null)
                    }
                </div>
            </div>
        }
    </div>
</div>