@model IEnumerable<StoryTeller.Data.Paragraph>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
    <div>
        @Html.DisplayNameFor(model => model.Story.Id)

        @Html.DisplayNameFor(model => model.Text)

        @Html.DisplayNameFor(model => model.Author)

        @Html.DisplayNameFor(model => model.CreatedOn)
    </div>

@foreach (var item in Model) {
    <div>
        @Html.DisplayFor(modelItem => item.Story.Id)

        @Html.DisplayFor(modelItem => item.Text)

        @Html.DisplayFor(modelItem => item.Author)

        @Html.DisplayFor(modelItem => item.CreatedOn)

        @Html.ActionLink("Edit", "Edit", new { id = item.Id })

        @Html.ActionLink("Details", "Details", new { id = item.Id })

        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </div>
}

